#myDropdown{
    margin: 0px;
    
    float: right;
}
.dropdown-content {
text-align: center;
position: fixed;

display: none;
background-color: #f1f1f1;
min-width: 100px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content p {
color: black;
cursor: pointer;
margin: 0px;
padding: 5px 16px;
text-decoration: none;
display: block;
}

.dropdown-content p:hover {background-color: rgb(131, 130, 130);}

.show {display: block;}

.goldenflower{
    margin-right: 0px;
}
.goldenflower1{
    margin-right: 150px;
}